@charset "UTF-8";

:root{
    --cor01: #EB0F00;
    --cor02: #B82F25;
    --cor03: #853A35;
    --cor04: #523331;
    --cor05: #332929;

}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgba(202, 199, 199, 0.295);
}
header{
    background-image: linear-gradient(to bottom, var(--cor02), var(--cor03),var(--cor04));
    padding-top: 20px;
    padding-bottom: 10px;
}
header > h1{
    color: white;
    margin: 0px;
    text-align: center;
}
header > nav{
    padding-top: 5px;
}
header > nav > p{
    padding-left: 15px;
}
header > nav > p > a{
    color: white;
    text-decoration: none;
    margin-top: 25px;
    padding: 3px 15px;
}
header > nav > p > a:hover{
    background-color: var(--cor02);
    text-decoration: underline;
    border-radius: 10px;
}
main{
    background-color: white;
    width: 95vw;
    height: 95%;
    margin: auto;
    border-radius: 10px;
}

footer{
    color: white;
    text-align: center;
    padding: 10px;
    background-color: var(--cor05);
}
footer > p > a{
    color: white;
    text-decoration: none;
    margin-top: 25px;
    padding: 3px 3px;
}
footer > p > a:hover{
    background-color: var(--cor02);
    text-decoration: underline;
    border-radius: 10px;
}